* {
  padding: 0;
  margin: 0;
}

img {
  width: 150px;
  height: auto;
}

li {
  list-style: none;
}
main {
  width: 100%;
  margin: 0 auto;
  margin: 10px;
}

.grid-item:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
h2 {
  margin: 30px;
  color: DodgerBlue;
}
.grid-item {
  height: auto;
  border: 1px solid grey;
  margin: 5px;
  padding: 5px;
  text-align: justify;
  background-color: white;
}

#grid-floats {
  display: inline-block;
  widows: 100%;
}
#grid-floats .grid-item {
  width: 23%;
  float: left;
  height: 285px;
}

@media only screen and (max-width: 1092px) {
  #grid-floats .grid-item {
    color: red;
    width: 30%;
  }
}

@media only screen and (max-width: 768px) {
  #grid-floats .grid-item {
    color: blue;
    width: 46%;
  }
}

@media only screen and (max-width: 600px) {
  #grid-floats .grid-item {
    color: green;
    width: 95%;
    height: auto;
  }
}

/* grid-flexbox */
#grid-flex {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

#grid-flex .grid-item {
  width: 23%;
}

#grid-flex .grid-item:nth-child(13),
#grid-flex .grid-item:nth-child(14) {
  background-color: #fff;
  width: 48%;
}

@media only screen and (max-width: 1092px) {
  #grid-flex .grid-item {
    width: 30%;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  #grid-flex .grid-item {
    width: 45%;
  }
}

@media only screen and (max-width: 600px) {
  #grid-flex {
    display: inline-flex;
    flex-flow: column wrap;
  }

  #grid-flex .grid-item {
    width: 95%;
  }

  #grid-flex .grid-item:nth-child(13),
  #grid-flex .grid-item:nth-child(14) {
    width: 95%;
  }
}

/* grid css */
#grid-grid {
  /* background-color: lightgreen; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  margin: 40px;
  padding: 5px;
}

#grid-grid .grid-item {
  border: 1px solid black;
  padding: 5px;
}

@media only screen and (max-width: 1092px) {
  #grid-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 768px) {
  #grid-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  #grid-grid {
    grid-template-columns: 1fr;
  }
}
