* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #55ccff;
  font-family: Arrial narrow;
}
.ul-center {
  text-align: center;
}

.container {
  padding: 20px;
}

.ul-center {
  text-align: center;
  list-style-position: inside;
  margin: 10px;
}

ul {
  text-align: center;
  right: auto;
  left: auto;
  color: #222;
  list-style: none;
}
li::first-letter {
  font-size: 22px;
}

a {
  color: red;
}
